#rows{
    flex-flow: wrap;
    display: flex;
    gap: 20px;

    > * {
        background-color: hsl(240, 3%, 94%);
        border-radius: 6px;
        flex-basis: 100%;
        padding: 20px;

        &:last-child{
            margin-block-end: 20px;
        }

        button[data-action="removeRow"]{
            margin-inline-start: auto;
            display: table;
        }
    }

    details{
        &[open] {
            summary{
                margin-block-end: 20px;
            }

            svg{
                transform: rotate(180deg);
            }
        }

        summary{
            position: relative;
            align-items: center;
            font-size: 1.2rem;
            list-style: none;
            cursor: pointer;
            display: flex;
            gap: 10px;

            &::-webkit-details-marker,
            &::marker{
                display: none;
            }

            svg{
                margin-inline-start: auto;
                background-color: #333;
                border-radius: 4px;
                max-width: 20px;
                padding: 10px;

                path{
                    fill: white;
                }
            }

            > span{
                align-items: center;
                display: flex;
                flex-grow: 3;
                gap: 20px;

                button{
                    line-height: 1.2;
                    font-size: 1rem;
                    padding: 10px;
                }
            }
        }
    }
}

#buttons{
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-block-end: 20px;
    display: flex;
    gap: 1rem;
}