p{
    font-size: 1rem;

    input,
    textarea{
        background-color: hsl(240, 3%, 94%);
        border: solid 1px hsl(240, 3%, 84%);
        width: calc(100% - 1.9rem);
        font-family: inherit;
        margin-block: 0.5em;
        border-radius: 4px;
        font-size: inherit;
        display: block;
        padding: 0.8em;

        &:focus{
            outline: solid 1px var(--accent_button, hsl(330, 98%, 60%));
            border-color: var(--accent_button, hsl(330, 98%, 60%));
        }
    }

    textarea{
        min-height: 100px;
        max-height: 300px;
        resize: vertical;
    }

    .helper{
        margin-block: 5px 0;
        display: block;
        opacity: 0.6;
    }

    .toggle {
        margin-block: 0.5em;
        border-radius: 4px;
        position: relative;
        font-size: 0.9rem;
        overflow: hidden;
        cursor: pointer;
        display: block;
        height: 34px;
        width: 105px;

        input{
            opacity: 0;
            height: 0;
            width: 0;

            &:checked + .slider:before {
                transform: translate(calc(100% + 44px), -50%);
                background-color: var(--accent_button_color, white);
            }

            &:checked + .slider:after {
                color: var(--accent_button_color, white);
                content: "Enabled";
                right: auto;
                left: 10px;
            }

            &:checked + .slider {
                background-color: var(--accent_button, hsl(330, 98%, 60%));
            }
        }

        .slider {
            background-color: var(--input_background, hsl(240, 3%, 94%));
            transition: background ease 200ms;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;

            &::before{
                transition-property: transform, border-radius;
                transition-timing-function: ease;
                transition-duration: 200ms;

                background-color: var(--body_color, hsl(0, 0%, 20%));
                transform: translateY(-50%);
                border-radius: 4px;
                position: absolute;
                opacity: 0.9;
                height: 22px;
                content: "";
                width: 22px;
                left: 8px;
                top: 50%;
            }

            &::after{
                transform:translateY(-50%);
                color: var(--body_color, hsl(0, 0%, 20%));
                position: absolute;
                content: "Disabled";
                right: 10px;
                top: 50%;
            }
        }
    }
}